body {
    font-family: Roboto, sans-serif;
}

.navbar {
    background-color: #f997ca;
}

#cabecalho .nav .nav-link.active {
    background-color: #fff;
    color: #e22185;
}


#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-cardapio .nav-link.active:hover {
    color: #fff;
}

.navbar-toggler {
    background-color: #fff;
}

.carousel-item img {
    width: 100%;
    height: 100vh;
}

.section-title {
    font-family: Pacifico, cursive;
}

#sobre-nos {
    background-color: #f2dbe7;
}

.text-colored {
    color: #e22185;
}



.nav-cardapio .nav-link.active,
#fale-conosco button {
    background-color: #e22185;
    color: #fff;
}

.nav-cardapio .nav-link:hover {
    color: #e22185;
}

#cardapio {
    background-color: #f2dbe7;
}

.social-links li {
    list-style: none;
    display: inline;
}

.social-links a {
    text-decoration: none;
}

/* tablet */
@media (max-width: 767px) {
    .carousel-item img {
        height: 280px;
    }
}

